#headerid{
padding:3px;
margin-bottom:0px;
text-align:center;
color:black;
border:solid;
}
#links1{
	margin-bottom:10px;
	margin-top:0px;
	color:black;
	border-style:solid;
	word-spacing:70px;
	
	
}

	
